<%- include('header'); -%> 
<body>
    <div class="box" id="heading"><h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% new_stuff.forEach(element => { %>
            <form action="/delete/<%= element.name %>" method="post">
                <div class="item">
                    <input type="checkbox" name="bod" onChange="this.form.submit()" >
                    <p><%= element.name %> </p>
                    
                </div>
            </form>
            

       <% }) %>

    <form class="item" action="/" method="post">
        <input type="text" name="new_to_do" placeholder="Add New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
    </form>
    </div>
</body>
<%- include('footer'); -%> 